*{
  margin: 0;
  padding: 0;
}

form {
    width: 481px;
    height: 382px;
    background-color: #F7F5F9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31px;
    border-radius: 12px;
    box-shadow: 5px 5px 8px #D0D0D0;
}

form h2 {
    font-family: Roboto;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 25px;
}

input[type=text] {
  width: 399px;
  height: 46px;
  display: inline-block;
  border-radius: 8px;
  border-width: 0px;
  border-color: #fff;
  background: #fff;
  border: 1px solid rgba(0,0,0,0);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 25px;
  font-family: Roboto;
}

::placeholder {
    color: #c1bfc4;
}

input[type=text]:focus {
  outline: none;
  border-style: solid;
  border-color: #B190DB;
  border-radius: 8px;
  border-width: 1.5px;
}
input[type=text]:hover {
  outline: none;
  border-style: solid;
  border-color: #B190DB;
  border-radius: 8px;
  border-width: 1.5px;
}

.registerbtn {
  background-color: #6979F8;
  color: white;
  border: none;
  cursor: pointer;
  width: 401px;
  height: 48px;
  border-radius: 8px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.registerbtn:hover {
  opacity:1;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}